/* 
#14AAF5 
#AD62E6
#EDF2F7
#33C7AD
*/

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* COMMON */
/* Layout */
body {
  background-color: #EDF2F7;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 50px;
}

.container {
  width: 70%;
  max-width: 900px;
  margin: 0 auto;
}

/* Utility */
.bg-white {
  background-color: #ffffff;
}

/* Buttons */
.btn {
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-blue {
  background-color: #14AAF5;
  color: white;
  border-color: #14AAF5;
}

.btn-light {
  background-color: #ffffff;
  color: #808080;
  border-color: #808080;
}

/* HEADER */
.header {
  padding: 10px 20px;
}

.header .logo,
.header .title {
  vertical-align: middle;
}

.header .title {
  font-size: 32px;
  font-weight: 800;
}

/* MAIN */
.actions-section {
  margin-bottom: 3px;
  padding: 20px 40px;
}

.todos-section {
  padding: 40px;
}

/* li che è il figlio diretto di ul */
.primary-list > li {
  margin-bottom: 20px;
}

.inner-list li {
  padding: 8px 0;
}

.circle {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
}

.circle.check {
  border-color: #008000;
  color: #008000;
}

.cross {
  border-color: red;
  color: red;
}

.tag {
  display: inline-block;
  background-color: #808080;
  padding: 8px 12px;
  border-radius: 20px;
  color: #ffffff;
}

.editorial {
  background-color: #14AAF5;
}

.goals {
  background-color: #AD62E6;
}